@media  screen and (max-width: 1360px) {
   .homeSection .formForSearch form{
   	    width: 700px;
   }
   .homeSection .linksNumbered .item .number {
	    font-size: 70px;
	}
	.homeSection .linksNumbered {
	    left: -110px;
	}
	.menuPart .navigationPart ul li {
	    font-size: 21px;
	    margin-right: 8px;
	    padding: 10px;
	}
	.menuPart .navigationPart ul li.logInButton{
	    margin-top: 0;
	}
	.homeSection .linksNumbered .item .text span {
	    border-bottom: 3px solid;
	}
	.customSelect ul li {
	    width: 100%;
	}
	.searchContent .infoBySearch .shownInfo p {
	    max-width: 250px;
	    margin: 12px;
	    height: 48px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    border: 1px solid;
	    border-radius: 50px;
	    padding-left: 15px;
	}
	.searchContent .infoBySearch .buttonsForMore button {
	    max-width: 250px;
	    margin: 12px;
	    height: 58px;
	    display: flex;
	    justify-content: center;
	    border: 1px solid;
	    border-radius: 50px;
	    color: white;
	    background: #282E2D;
	    font-size: 16px;
	    text-align: center;
	}
	.searchContent .avatarAndName .name p {
	    width: 250px;
	    margin: 20px auto;
	    border: 1px solid;
	    border-radius: 50px;
	    height: 44px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    font-size: 30px;
	}
	.searchContent.anketa  .infoBySearch .shownInfo p{
    width: 30%;
    max-width: 30%;
}

.searchContent.anketa  .infoBySearch .buttonsForMore button {
    width: 30%;
        max-width: 30%;
}
}
@media  screen and (max-width: 1050px){
	.homeSection .formForSearch form{
   	    width: 500px;
   }
    .homeSection .linksNumbered .item .number {
	    font-size: 60px;
	}
	.homeSection .linksNumbered {
	    left: -100px;
	}
	.notLinkButton {
	    width: 9px;
	    height: 40px;
	}
	.menuPart .navigationPart ul li {
	    font-size: 17px;
	    margin-right: 0px;
	    padding: 10px;
	}
	.menuPart .navigationPart ul li.logInButton{
	    width: 140px;
        margin-top: 2px;
        height: 37px;
	}
	.customSelect .selectText {
		padding: 0 24px;
	}
	.customSelect ul li {
		    font-size: 17px;
	}
	
	.aboutContent {
	    padding-left:  0px;
	    height: 90%;
	    overflow-y: auto;
        padding-right: 10px;
	    padding-bottom: 50px;
	}
	.homeSection.aboutUs {
	    justify-content: flex-start;
	}
	.aboutContent img {
    width: 300px;
}


}
@media  screen and (max-width: 1000px) {
	.homeSection.aboutUs .linksNumbered {
	    width: 80%;

	    left: 10%;
	    text-align: center;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    bottom: 0;
	    top: auto;
	    height: max-content;
	}
   .menuPart .navigationPart ul {
	  	display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	}
	.menuPart .navigationPart ul li {
	    font-size: 17px;
	    margin-right: 0px;
        width: 100%;
	    padding: 10px 0;
	}
	.menuPart {
		width: 250px;
	}
	.homeSection {
	    display: flex;
	    position: relative;
	    flex-direction: column;
	    justify-content: center;
	    margin-top: 0;
	    height: 80%;
	}
	.homeSection .linksNumbered {
	    width: 80%;
    left: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    bottom: 0;
    top: auto;
    height: max-content;
	}
	.homeSection .linksNumbered .item .text {
		display: none;
	}
	.notLinkButton {
	    width: 38px;
	    height: 10px;
	}
	.homeSection .linksNumbered .item {
	    margin-bottom: 16px;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	}
	.fullContent{
		background: url(../images/mobile/dogmobile.png) no-repeat;
	    background-size: cover;
	    background-position: center;
	}
	.homeSection .formForSearch form {
	    width: 90%;
	    margin: 20px auto;
	}
	.homeSection .linksNumbered .item.active {
	    margin-bottom: 0px;
	    margin-left: 5px;
	}
	.searchContent .infoBySearch .buttonsForMore button{
		font-size: 13px;
	}
	.searchContent .infoBySearch .shownInfo p{
		font-size: 14px;
	}
	.searchContent .infoBySearch .shownInfo p , .searchContent .infoBySearch .buttonsForMore button {
	    width: 80%;
	    max-width: 80%
	}
}
@media  screen and (max-width: 700px)  {
	
	.customSelect {
	    width: 100%;
	    position: relative;
        height: 80px;
	}
	.header .logoPart img {
	    width: 90px;
	}
	.menuPart .navigationPart ul li {
	    font-size: 12px;
	    
	}
	.menuPart .navigationPart ul {
	    margin-top: 20px;
	}
	.menuPart .navigationPart ul li.logInButton {
	    width: 110px;
	    margin-top: 2px;
	    height: 30px;
	    font-size: 12px;
	}
	.homeSection .formForSearch>h1 {
	    font-weight: 100;
	    font-size: 23px;
	    width: 90%;
	    margin: 0 auto;
	}
	.searchInput span img{
	    width: 20px;
	        margin-top: 7px;
	}
	.backgroundedDiv {
	    padding: 22px;
	}
	.searchInput {
	    height: 51px;
	}
	.popupForLogin .centerDiv .loginInputs {
		width: 90%;
	}
	.popupForLogin .centerDiv .title {
	    width: 40%;
	    font-size: 14px;
	}
	.popupForLogin .centerDiv .border {
	    width: 55%;
	}
	.aboutContent img {
	    width: 250px;
	}
	.contentInfo p {
		font-size:  14px;
	}
	.searchContent .avatarAndName .avatar {
	    width: 121px;
	    height: 121px;
    }
    .searchContent .infoBySearch {
	    margin-top: 30px;
	}
}
@media  screen and (max-width: 500px) {
	.homeSection .formForSearch form {
	    width: 100%;
	    margin: 20px auto;
	}
	.menuPart {
    	width: 140px;
	}
	.popupForLogin .centerDiv {
	    border-radius: 20px;
	    padding: 10px;
	}
	.aboutContent img {
	    width: 200px;
	}
	.searchContent .infoBySearch .shownInfo p, .searchContent .infoBySearch .buttonsForMore button {
	    width: 100%;
	    max-width: 100%;
	}
	.searchContent .avatarAndName .name p{
		font-size: 26px;
	}
	.backgroundedDiv {
    padding: 0;
}
}